<div class="container">
  <div class="jumbotron">
    <h1>Register</h1>
    <p class="lead">You're just two steps away from creating labels!</p>
    <hr/>
    <div class="row">
      <div class="card border-primary mb-3" style="max-width: 20rem;">
        <div class="card-header">1. Create an account</div>
        <div class="card-body text-primary">
          <h4 class="card-title">Provide an email and password</h4>
          <p class="card-text">We use your PackageWith.me account to store the link you create with Etsy. When you log in with your account, we get get your sales reciepts right away.</p>
        </div>
      </div>

      <div class="card border-secondary mb-3" style="max-width: 20rem;">
        <div class="card-header">2.Link your account to Etsy</div>
        <div class="card-body text-secondary">
          <h4 class="card-title">Make the magic happen</h4>
          <p class="card-text">We need to get permission to read your sales reciepts from Etsy. This is only ever used for generating reciepts.</p>
        </div>
      </div>
    </div>
  </div>

  <%= form_for @user do |f| %>
    <% if @user.errors.any? %>
        <div class="alert alert-danger" role="alert">
          <h4 class="alert-heading">There were some errors:</h4>
          <ul>
            <% for message in @user.errors.full_messages %>
                <li><%= message %></li>
            <% end %>
          </ul>
          <hr/>
          <p class="mb-0">
            Please adress each of these issues and try again.
          </p>
        </div>
    <% end %>
    <div class="form-row">
      <div class="form-group col-md-6">
        <%= f.label :email, class: 'col-form-label' %>
        <%= f.text_field :email, class: "form-control#{@user.errors[:email].present? ? ' is-invalid' : ''}", placeholder: 'matt@packagewith.me', required: true %>
        <% if @user.errors[:email].present? %>
          <div class="invalid-feedback" style="display: block;">
            <%= @user.errors[:email].join(', ') %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <%= f.label :password, class: 'col-form-label' %>
        <%= f.password_field :password, class: "form-control#{@user.errors[:password].present? ? ' is-invalid' : ''}", placeholder: 'Secret', required: true %>
        <% if @user.errors[:password].present? %>
          <div class="invalid-feedback" style="display: block;">
            <%= @user.errors[:password].join(', ') %>
          </div>
        <% end %>
      </div>
      <div class="form-group col-md-6">
        <%= f.label :password_confirmation, class: 'col-form-label' %>
        <%= f.password_field :password_confirmation, class: "form-control#{@user.errors[:password_confirmation].present? ? ' is-invalid' : ''}", placeholder: 'Secret again', required: true %>
        <% if @user.errors[:password_confirmation].present? %>
          <div class="invalid-feedback" style="display: block;">
            <%= @user.errors[:password_confirmation].join(', ') %>
          </div>
        <% end %>
      </div>
    </div>
    <%= f.submit 'Register', class: 'btn btn-primary' %>
  <% end %>
</div>

<pre><%= debug @user %></pre>