<div class="container">
  <div class="jumbotron">
    <h1>Register</h1>
    <p class="lead">You're just two steps away from creating labels!</p>
    <hr/>
    <div class="row">
      <div class="col-sm-6">
        <h2>1. Create an account</h2>
        <p>First, create an account on Package With Me.</p>
      </div>
      <div class="col-sm-6">
        <h2>2.Link your account to Etsy</h2>
        <p>Give Package With Me permission to read your recieved tranactions (so we can generate labels)</p>
      </div>
    </div>
  </div>
</div>


<%= form_for @user do |f| %>
    <% if @user.errors.any? %>
        <div class="error_messages">
          <h2>Form is invalid</h2>
          <ul>
            <% for message in @user.errors.full_messages %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <p>
      <%= f.label :email %><br />
      <%= f.text_field :email %>
    </p>
    <p>
      <%= f.label :password %><br />
      <%= f.password_field :password %>
    </p>
    <p>
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </p>
    <p class="button"><%= f.submit %></p>
<% end %>