<div class="container">
  <div class="jumbotron">
    <h1>Your Profile</h1>
    <p class="lead">From here, you can edit your details or close your account.</p>
    <hr/>
    <div class="row">
      <div class="card border-secondary mb-3" style="max-width: 20rem;">
        <div class="card-header">Personal Details</div>
        <div class="card-body text-secondary">
          <p class="card-text"><strong>Email: </strong><%= @current_user.email %></p>
          <p class="card-text"><strong>Password: </strong>•••••••</p>
        </div>
        <div class="card-footer text-right">
          <%= link_to 'Edit', :edit_user %>
        </div>
      </div>

      <div class="card border-secondary mb-3" style="max-width: 20rem;">
        <div class="card-header">Etsy Details</div>
        <div class="card-body text-secondary">
          <p class="card-text"><strong>Shop: </strong><%= @shop.name %></p>
        </div>
        <div class="card-footer text-right">
          <%= link_to 'Re-link', :link_account %>
        </div>
      </div>
    </div>
  </div>

  <h1><%= @shop.name %></h1>
  <h2><%= @shop.result['name'] %></h2>
  <hr />
  <pre><%= debug(@etsy_user) %></pre>
</div>